body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

  .container {
    border: 3px solid #042849;
    background-color: #cbe0ff;
    padding: 1ex 2em; }

    .glyphicon {
      margin-right: 0.4em; }

      .glyphicon-refresh-animate {
        -animation: spin 1.4s infinite ease;
        -webkit-animation: spin2 1.4s infinite ease-out; }

        @-webkit-keyframes spin2 {
          from {
            -webkit-transform: rotate(0deg);   }
            to {
              -webkit-transform: rotate(540deg);   }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);   }
    to {
      transform: scale(1) rotate(540deg);   }
}

.map {
  height: 100%;
  min-height: 600px;
  border: 3px solid #042849; }

  .closed {
    display: none !important; }

    .item-rating {
      display: inline;
      font-weight: bold; }
      .item-rating:before {
        content: 'Rating: '; }
        .item-rating:after {
          content: ' out of 5'; }

.item-reviews {
  display: inline; }
  .item-reviews:before {
    content: '('; }
    .item-reviews:after {
      content: ')'; }

.tab-content {
  color: white;
  background-color: #337ab7;
  padding: 5px 15px; }

  .nav-pills > li > a {
    border-radius: 10px 0px 0 0; }

    .panel-group {
      color: #00051c; }
