.map {
    height: 100%;
    min-height: 100px;
    border: 3px solid $primary-dark-color;
}

.tab-content {
    color: white;
    background-color: #337ab7;
    padding: 5px 15px;
}

.nav-pills > li > a {
    border-radius: 10px 0 0 0;
}

.panel-group {
    color: $dark-text-color;
}
.panel-title a{
    font-size: 12px;
}

.review-count {
    min-width: 3em;
    width: 3em;
    display: inline-block;
    text-align: right;
}

.glyphicon-star {
    &.half {
        position: relative;

        &:before {
            position: relative;
            z-index: 9;
            width: 47%;
            display: block;
            overflow: hidden;
        }

        &:after {
            content: '\e006';
            position: absolute;
            z-index: 8;
            color: #bdc3c7;
            top: 0;
            left: 0;
        }
    }
}

aside {
    background-color: $primary-light-color !important;
    // height: 100vh;
    box-shadow: 10px 0 5px rgba(#000000, 0.48);
    overflow: scroll;
    // margin-right: 20px;
    // margin-left: -30px;
    padding: 10px;
    width: $aside-width;
    position: fixed;
    left: 0;
    z-index: 99;
}
@media screen and (max-width: 600px) {
    aside {
        width: 85%;
    }

    .review-count {
        display: none;
    }

    .rating .glyphicon {
        font-size: 12px;
        margin: -3px;
    }
}

.main.row {
    margin-left: $aside-width;
}

h1 {
    display: inline;
}
@media screen and (max-width: 993px) {
    aside {
        position: fixed;
        left: -$aside-width;
        z-index: 10;
    }
    .main {
        margin-left: 0 !important;
    }
}


.menu-burger {
    position: fixed;
    top: calc(50% - #{$burger-size});
    left: -$burger-size*0.25;
    z-index: 9;
    height: $burger-size * 2;
    width: $burger-size;
    border: 2px solid $primary-dark-color;
    border-left: none;
    background-color: $primary-color;
    color: $light-text-color;
    font-size: 20px;
    border-bottom-right-radius: $burger-size * 2;
    border-top-right-radius: $burger-size * 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger {
    -animation: pulse 1.5s infinite ease;
    -webkit-animation: pulse2 1.5s infinite ease-in;
}

@-webkit-keyframes pulse2 {
    0% { -webkit-transform: scale(1);}
    20% { -webkit-transform: scale(1.1);}
    40% { -webkit-transform: scale(1.0);}
    60% { -webkit-transform: scale(1.1);}
    80% { -webkit-transform: scale(1);}
}

@keyframes pulse {
    0% { transform: scale(1);}
    20% { transform: scale(1.1);}
    40% { transform: scale(1.0);}
    60% { transform: scale(1.1);}
    80% { transform: scale(1);}

}

.close-button{
    color: $grey-text-color;
    font-size: 24px;
}
.weather-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.weather-main{
    text-transform: capitalize;
}
.weather{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.list{
    font-size: 16px;
    margin-top: 1ex;
}
.list li{
    padding: .1ex;
}
