$primary-color: #266cac;
$primary-dark-color: #042849;
$primary-light-color: #cbe0ff;
$primary-selected-color: #005aac;
$light-text-color: white;
$grey-text-color: #8fa8bd;
$dark-text-color: #00051c;
$light-active-color: #c5eff7 ;
$secondary-color: #26ac95;
$secondary-dark-color: #042849;
$secondary-selected-color: #1f7d6d;
$danger-color: #F9BF3B;

$burger-size: 48px;
$aside-width: 380px;
$header-height: 58px;

body,
html {
    height: 100%;
    margin: 0px;
    padding: 0;
    background-color: $primary-light-color;
}

.container-full {
    padding: 1ex 2em;
    height: 100%;
    margin: 0 1em;
}
header{
    background-color: $primary-dark-color;
    color: $light-text-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    width: 100%;
    height: $header-height;
    padding: 8px 20px;
}
.main, aside {
    margin-top: $header-height;
    height: calc(100% - #{$header-height});
}
.rating .glyphicon{
    margin-right: -.3em;
}
.glyphicon-refresh-animate {
    margin-right: 0.4em;
    -animation: spin 1.4s infinite ease;
    -webkit-animation: spin2 1.4s infinite ease-out;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(540deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(540deg);}

}
.gray-text{
    opacity: 0.8;
}
@import "panel";
// @import "sidebar";
