$primary-color: #266cac;
$primary-dark-color: #042849;
$primary-light-color: #cbe0ff;
$primary-selected-color: #005aac;
$light-text-color: white;
$grey-text-color: #8fa8bd;
$dark-text-color: #00051c;
$light-active-color: #c5eff7 ;
$secondary-color: #26ac95;
$secondary-dark-color: #042849;
$secondary-selected-color: #1f7d6d;
$danger-color: #F9BF3B;

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    border: 3px solid $primary-dark-color;
    background-color: $primary-light-color;
    padding: 1ex 2em;
}
.rating .glyphicon{
    margin-right: -.3em;
}
.glyphicon-refresh-animate {
    margin-right: 0.4em;
    -animation: spin 1.4s infinite ease;
    -webkit-animation: spin2 1.4s infinite ease-out;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(540deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(540deg);}

}
.gray-text{
    opacity: 0.8;
}
@import "panel"
