$primary-color: #266cac;
$primary-dark-color: #042849;
$primary-selected-color: #005aac;
$light-text-color: white;
$grey-text-color: #8fa8bd;
$dark-text-color: #00051c;
$light-active-color: #c5eff7 ;
$secondary-color: #26ac95;
$secondary-dark-color: #042849;
$secondary-selected-color: #1f7d6d;
$danger-color: #F9BF3B;
@import "panel"
