<!DOCTYPE html>
<div type="button" class="visible-sm visible-xs close-button glyphicon glyphicon-remove pull-right" data-bind="click: showMenu"></div>

<div class="weather">
    {% with text = "Retrieving Weather",
    observable = 'loadingWeather' %}
    {% include 'includes/loadbutton.html' %}
    {% endwith %}
    <h4 class="hidden-xs" data-bind="text: currentGeoName"></h4>
    <a class="refresh glyphicon glyphicon-refresh" data-bind="click: refreshWeather"></a>
    <div class="weather-data">
        <canvas id="icon1" width="39" height="39"></canvas>
        <!-- ko if: currentWeather -->
        <span class="weather-main" data-bind="text: currentWeather().currently.summary"></span>
        <span class="weather-temp" data-bind="text: (currentWeather().currently.temperature).toFixed(1) + ' ˚C'"></span>
        <!-- /ko -->
    </div>
</div>
<hr>
<!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
        <a href="#places" aria-controls="places" role="tab" data-toggle="tab">Places</a>
    </li>
    <li role="presentation" id="nav-markers">
        <a href="#markers" aria-controls="markers" role="tab" data-toggle="tab">Markers</a>
    </li>
    <li role="presentation" id="nav-restaurants">
        <a href="#restaurants" aria-controls="restaurants" role="tab" data-toggle="tab">Restaurants</a>
    </li>
</ul>
<div class="tab-content clearfix">
    <!-- Places-list -->
    <div id="places" role="tabpanel" class="tab-pane fade in active">
        <h3>Places:</h3>
        {% with text = "Retrieving places",
        observable = 'loading' %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <label for="filterPlaces">Filter</label>
        <div class="input-group">
            <input id="filterPlaces" type="text" data-bind="textInput: userFilter"></div>
        <hr data-bind="visible: filterPlaces().length">
        <ul class="list">
            <!-- ko foreach: filterPlaces -->
            <li data-bind="text: name, click: $root.changePlace"></li>
            <!-- /ko -->
        </ul>
        <div class="" data-bind="text: name"></div>
    </div>
    <!-- Markers-list -->
    <div id="markers" role="tabpanel" class="tab-pane fade">
        <h3>Markers:</h3>
<form class="form-inline">
    <label for="filterMarker">Filter</label>
    <div class="input-group">
        <input id="filterMarker" type="text" data-bind="textInput: userFilter">
    </div>
        <div class="input-group">
            <!-- ko if: currentPlaceData() -->
            <label for="filterMarkerHereOnly" data-bind="text: 'Only in ' + currentPlaceData().name + ': '"></label>
            <!-- /ko -->
            <input id="filterMarkerHereOnly" type="checkbox" data-bind="checked: filterMarkerHereOnly"></div>
        <div class="" data-bind="text: userFilter"></div>
</form>
        <hr data-bind="visible: filterMarkers().length">
        {% with text = "Retrieving markers",
        observable = 'loading' %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <ul class="list" data-bind="foreach: filterMarkers">
            <li data-bind="text: name, click:$root.popInfoWindow"></li>
        </ul>
        <div class="" data-bind="text: name"></div>
    </div>
    <!-- Restaurants -->
    <div id="restaurants" role="tabpanel" class="restaurants tab-pane fade in">
        <h3>Restaurants</h3>
        {% with text = "Retrieving restaurants",
        observable = 'loading' %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <form data-bind="submit: getYelp">
            <label for="restaurantInputTerm">Search term:</label>
            <div class="input-group">
                <input type="search" class="form-control" data-bind="textInput: yelp_term" id="restaurantInputTerm" placeholder="tacos, cheap dinner, Max's">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                </span>
            </div>
            <p class="gray-text">Will search for places nearby the center of the map.</p>
            <p class="gray-text">Press <em>Enter</em> to get results from Yelp.</p>
            <div class="form-group">
                <label>Sorted by:</label><br>
                <div>
                    <label class="radio-inline">
                        <input type="radio" id="radio_sort1" value="best_match" data-bind="checked: yelp_sorting">
                        Best Match
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="radio_sort2" value="rating" data-bind="checked: yelp_sorting">
                        Rating
                    </label>
                </div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" id="radio_sort3" value="review_count" data-bind="checked: yelp_sorting">
                        Number of reviews
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="radio_sort4" value="distance" data-bind="checked: yelp_sorting">
                        Distance
                    </label>
                </div>
            </div>
        </form>
        {% with text = "Retrieving restaurants",
        observable = 'loading' %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <hr data-bind="visible: filterBusinesses().length">
        <div class="panel-group" id="acc-restaurant" role="tablist" aria-multiselectable="true" data-bind="foreach: filterBusinesses">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-bind="attr: {id: 'heading' + $index()}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#acc-restaurant" href="#collapse1" data-bind="text: name, attr: {href: '#collapse' + $data.id},  click:$root.popInfoWindow"></a>
                        <span class="rating pull-right">
                            {% include 'includes/rating.html' %}
                        </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" data-bind="attr: {id:  'collapse' + $data.id, 'aria-labelledby': 'collapse' + $index()}">
                    <div class="panel-body">
                        <img class="hidden dontload img-responsive" data-bind="attr: { 'url': $data.image_url, 'alt': $data.name + ' image', 'title': $data.name}">
                        <div data-bind="text: rating"></div>
                        <div data-bind="text: review_count"></div>
                        <div>
                            <a data-bind="attr: { 'href': $data.url }">View on Yelp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="attribution">
    <p>
        Weather data collected from <a href="http://www.darksky.net">DarkSky.net</a><br>
        Restaurant-info collected from <a href="http://www.yelp.com">Yelp.com</a><br>
    Map by <a href="http://maps.google.com">Google Maps</a>
    <p>
        Built with <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://knockoutjs.com">Knockout</a> and <a href="http://jquery.com">jQuery</a>
    </p>
    <p>App built by <a href="http://runarkristoffersen.com/">Runar Kristoffersen</a>, <br>as part of an assignment in the <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004">Full-Stack course at Udacity</a>.</p>
</footer>
