<!DOCTYPE html>
<label for="">Filter<input type="text" data-bind="textInput: userFilter"></label>
<div type="button" class="visible-sm visible-xs close-button glyphicon glyphicon-remove pull-right" data-bind="click: showMenu"></div>
<div class="" data-bind="text: userFilter"></div>
<!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
    <li role="presentation">
        <a href="#places" aria-controls="places" role="tab" data-toggle="tab">Places</a>
    </li>
    <li role="presentation">
        <a href="#markers" aria-controls="markers" role="tab" data-toggle="tab">Markers</a>
    </li>
    <li role="presentation" id="nav-restaurants" class="active">
        <a href="#restaurants" aria-controls="restaurants" role="tab" data-toggle="tab">Restaurants</a>
    </li>
</ul>
<div class="tab-content clearfix">
    <!-- Places-list -->
    <div id="places" role="tabpanel" class="tab-pane fade in" data-bind="if: showPlacesList">
        <h3>Places:</h3>
        {% with text = "Retrieving places" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <ul data-bind="foreach: filterPlaces">
            <li data-bind="text: name, click: $root.changePlace"></li>
        </ul>
        <div class="" data-bind="text: name"></div>
    </div>
    <!-- Markers-list -->
    <div id="markers" role="tabpanel" class="tab-pane fade" data-bind="if: showMarkersList">
        <h3>Markers:</h3>
        {% with text = "Retrieving markers" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <div class="filterdesc" data-bind="text: filterdesc"></div>

        <ul data-bind="foreach: filterMarkers">
            <li data-bind="text: name, click:$root.popInfoWindow"></li>
        </ul>
        <div class="" data-bind="text: name"></div>
    </div>
    <!-- Restaurants -->
    <div id="restaurants" role="tabpanel" class="restaurants tab-pane fade in active" data-bind="if: businesses().length">
        <h3>Restaurants</h3>
        {% with text = "Retrieving restaurants" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <form data-bind="submit: getYelp">
            <label for="restaurantInputTerm">Search term:</label>
            <div class="input-group">
                <input type="search" class="form-control" data-bind="value: yelp_term" id="restaurantInputTerm" placeholder="tacos, cheap dinner, Max's">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                </span>
            </div>
            <p class="gray-text">Will search for places nearby the center of the map.</p>
            <div class="form-group">
                <label>Sorted by:</label><br>
<div>
    <label class="radio-inline">
        <input type="radio" id="radio_sort1" value="best_match" data-bind="checked: yelp_sorting">
        Best Match
    </label>
    <label class="radio-inline">
        <input type="radio" id="radio_sort2" value="rating" data-bind="checked: yelp_sorting">
        Rating
    </label>
</div>
<div>
    <label class="radio-inline">
        <input type="radio" id="radio_sort3" value="review_count" data-bind="checked: yelp_sorting">
        Number of reviews
    </label>
    <label class="radio-inline">
        <input type="radio" id="radio_sort4" value="distance" data-bind="checked: yelp_sorting">
        Distance
    </label>
</div>
            </div>
        </form>
        {% with text = "Retrieving restaurants" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <hr data-bind="visible: businesses().length">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: businesses">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-bind="attr: {id: 'heading' + $index()}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-bind="text: name, attr: {href: '#collapse' + $data.id},  click:$root.popInfoWindow"></a>
                        <span class="rating pull-right">
                            {% include 'includes/rating.html' %}
                        </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" data-bind="attr: {id:  'collapse' + $data.id, 'aria-labelledby': 'collapse' + $index()}">
                    <div class="panel-body">
                        <img class="hidden dontload img-responsive" data-bind="attr: { 'url': $data.image_url, 'alt': $data.name + ' image', 'title': $data.name}">
                        <div data-bind="text: rating"></div>
                        <div data-bind="text: review_count"></div>
                        <div>
                            <a data-bind="attr: { 'href': $data.url }">View on Yelp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
