<!DOCTYPE html>
<label for="">Filter<input type="text" data-bind="textInput: userFilter"></label>
<div class="" data-bind="text: userFilter"></div>
<!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
        <a href="#places" aria-controls="places" role="tab" data-toggle="tab">Places</a>
    </li>
    <li role="presentation">
        <a href="#markers" aria-controls="markers" role="tab" data-toggle="tab">Markers</a>
    </li>
    <li role="presentation" id="nav-restaurants">
        <a href="#restaurants" aria-controls="restaurants" role="tab" data-toggle="tab">Restaurants</a>
    </li>
</ul>
<div class="tab-content clearfix">
    <!-- Places-list -->
    <div id="places" role="tabpanel" class="tab-pane fade in" data-bind="if: showPlacesList">
        <h3>Places:</h3>
        {% with text = "Retrieving places" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <ul data-bind="foreach: filterPlaces">
            <li data-bind="text: name, click: $root.changePlace"></li>
        </ul>
        <div class="" data-bind="text: name"></div>
    </div>
    <!-- Markers-list -->
    <div id="markers" role="tabpanel" class="tab-pane fade" data-bind="if: showMarkersList">
        <h3>Markers:</h3>
        {% with text = "Retrieving markers" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <div class="filterdesc" data-bind="text: filterdesc"></div>

        <ul data-bind="foreach: filterMarkers">
            <li data-bind="text: name, click:$root.popInfoWindow"></li>
        </ul>
        <div class="" data-bind="text: name"></div>
    </div>
    <!-- Restaurants -->
    <div id="restaurants" role="tabpanel" class="restaurants tab-pane fade in active" data-bind="if: businesses().length">
        <h3>Restaurants</h3>
        <form data-bind="submit: getYelp">
            <label for="restaurantInputTerm">Search term:</label>
            <div class="input-group">
                <input type="search" class="form-control" data-bind="value: yelp_term" id="restaurantInputTerm" placeholder="tacos, cheap dinner, Max's">
                <span class="input-group-btn">
        <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
      </span>
            </div>
            <div class="form-group">
                <label>Pricerange:</label><br>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="1" data-bind="checked: yelp_pricerange">
                    below $10
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="2" data-bind="checked: yelp_pricerange">
                    $10-$99
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="3" data-bind="checked: yelp_pricerange">
                    $100-$999
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="4" data-bind="checked: yelp_pricerange">
                    $1000+
                </label>
            </div>
        </form>
        {% with text = "Retrieving restaurants" %}
        {% include 'includes/loadbutton.html' %}
        {% endwith %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: businesses">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-bind="attr: {id: 'heading' + $index()}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-bind="text: name, attr: {href: '#collapse' + $index()}"></a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" data-bind="attr: {id: 'collapse' + $index(), 'aria-labelledby': 'collapse' + $index()}">
                    <div class="panel-body">
                        <img class="hidden dontload img-responsive" data-bind="attr: { 'url': $data.image_url, 'alt': $data.name + ' image', 'title': $data.name}">
                        <div data-bind="text: rating"></div>
                        <div data-bind="text: review_count"></div>
                        <div>
                            <a data-bind="attr: { 'href': $data.url }">View on Yelp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
