<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Neighborhood Map</title>
    {% assets "css_all" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <h1>Neighborhood Map</h1>
            <!-- ko with: currentPlaceData -->
            <h2 data-bind="text: name"></h2>
            <h3 data-bind="text: description"></h3>
            <!-- /ko -->
        </div>
    </header>
    <div class="menu-burger glyphicon glyphicon-menu-right" type="div" name="button" data-bind="click: showMenu"></div>
    <aside class=" sidepanel visible-lg visible-md">
        <div class="errormsg bg-danger" data-bind="text: errormsg"></div>
        {% include 'includes/aside.html' %}
    </aside>
    <div class="container-full body-container">
        {% block body %}{% endblock %}
    </div>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
