<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <h1>Neighborhood Map</h1>
    </div>
    <div class="row">
        <div class="errormsg text-danger" data-bind="text: errormsg"></div>
        <!-- Sidepanel -->
        <aside class="col-sm-4 sidepanel">
            {% include 'includes/aside.html' %}
        </aside>
        <!-- Main-window -->
        <main class="col-xs-8">
            <!-- ko with: currentPlaceData -->
            <h2 data-bind="text: name"></h2>
            <div data-bind="text: description"></div>
            <button type="button" class="btn btn-primary" data-bind="click: $root.getYelp">Find restaurants here!</button>
            <!-- /ko -->
            <!-- Map-div -->
            <div class="map" id="map">Map will load here. If this is taking too long, Google Maps might be blocked from reaching you.</div>
        </main>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGMk2t2iK-74GgkVpxl0w26PYNVwWppsc&v=3&callback=initMap"></script>
    {% endblock %}
