{% extends 'base.html' %}{% block body %}
    <div class="container">
        <div class="row">
            <h1>Neighborhood Map</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                {% for place in places %}
                <div class="place">{{ place.name }}</div>
                {% endfor %}
            </div>
            <div class="col-md-9 map" id="map">asdfsd</div>

        </div>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIOuSETzz0sZHZm-x5LIEKX7KQlmb5c4Y&v=3&callback=initMap"></script>
{% endblock %}
